
div[class="scroll-table"]{
    padding-right:0em;
    padding-bottom:auto;
    margin:auto;

}
div[class="scroll-table"] th{
    padding: 0em 0.1em 0em 0.3em;
}
div[class="scroll-table"] table{
    width: 100%;
}
.ApprovedButtons{
    display: flex;
    justify-content: right;
    margin-bottom: 0.5em;
    gap:0.5em;
}
.d-flex2{
    display: flex;
}
.hide{
    display:none;
}
/*Loading animation*/
@keyframes LoadingAnim1{
    0% {bottom:0px;}
    25% {bottom:100px;}
    50% {bottom: 0px;}
    75% {bottom:100px;}
    100% {bottom:0px;}

}
.Loading{
    display:flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color:var(--nbcc-ocean-blue);
    font-size: 15em;
}
.Dot1{
    animation: LoadingAnim1 4s;
    animation-iteration-count: infinite;
}
.Dot2{
    animation: LoadingAnim1 4s;
    animation-iteration-count: infinite;
    animation-delay:0.25s;
}
.Dot3{
    animation: LoadingAnim1 4s;
    animation-iteration-count: infinite;
    animation-delay:0.5s;
}