
div[class="scroll-table"]{
    padding-right:5.5em;
    padding-bottom:auto;
    margin:auto;

}
.ApprovedButtons{
    display: flex;
    justify-content: right;
    margin-right: 15.4em;
    margin-bottom: 0.5em;
    gap:0.5em;
}
.glow{
    box-shadow: 0 0 15px 4px var(--nbcc-ocean-blue)
}
.hide{
    display:none;
}