.navbar {
    background-color: var(--nbcc-nav); /* nbcc color taken from website using paint*/
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--nbcc-font);
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: sticky !important;
    top:0; /*needed*/
    z-index: 1;
}

.navbar-logo {
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

.navbar-logo:hover {
    color: #ffcc00;
}
.pl-5{
    padding-left: 70px;
}
/* navbar toggler (for mobile responsiveness) we can make this better with some other things later */
.navbar-toggler {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.navbar-toggler-icon {
    display: inline-block;
}

.navbar-menu {
    display: flex;
    flex-wrap: wrap;
    flex-grow:1;
    justify-content: right;
}

.navbar-links {
    display:flex;
    align-items: center;
    justify-content: right;
    gap: 15px;
}

.navbar-hometext{
    font-size: 40px;
    font-weight: bold;
    color: var(--nbcc-nav-item);
}

.navbar-item {
    font-size:1.1em; 
    text-decoration: none;
    color: var(--nbcc-nav-item);
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.navbar-item:hover {
    background-color: var(--nbcc-background-nav-item);
    color: white;
}

/* Navbar Button */
.navbar-button {
    background-color: rgba(255, 0, 0, 0.808); /* red button */
    color: var(--nbcc-nav-item);
    padding: 5px 10px;
    font-size:1.1em; 
    border: none;
    cursor: pointer;
    transition: background-color 0.5s ease; /* slow transition to make it look better*/
}

.navbar-button:hover {
    background-color: #a80000; /* dark red */
}

/* Responsive Navbar */
.hide {
    display: none;
}

/* logout button on nav bar */
.logout-container {
    display: flex;
    align-items: center; /* Vertically align the text and button */
}