.navbar {
    background-color: #005E99; /* nbcc color taken from website using paint*/
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Arial, sans-serif;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-logo {
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

.navbar-logo:hover {
    color: #ffcc00;
}

/* navbar toggler (for mobile responsiveness) we can make this better with some other things later */
.navbar-toggler {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.navbar-toggler-icon {
    display: inline-block;
}

.navbar-menu {
    display: flex;
    flex-wrap: wrap;
}

.navbar-links {
    display: flex;
    align-items: center;
    gap: 15px;
}

.navbar-hometext{
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.navbar-item {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.navbar-item:hover {
    background-color: #004472;
    color: #ffcc00;
}

/* Navbar Button */
.navbar-button {
    background-color: #ff4d4d; /* red button */
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease; /* slow transition to make it look better*/
}

.navbar-button:hover {
    background-color: #cc0000; /* dark red */
}

/* Responsive Navbar */
.hide {
    display: none;
}
