
/* Define constants for NBCC styles*/
html{
    --nbcc-ocean-blue: #007599;
    --nbcc-possi-blue: #a1d8e0;
    --nbcc-urban-green: #829600;
    --nbcc-urban-greenDarkend: #5f6d01;
    --nbcc-field-gold: #eaab00;
    --nbcc-nav: white;
    --nbcc-nav-item:#012a3b;
    --nbcc-background-nav-item: #005e99;
    --nbcc-font: 'Calibri', sans-serif;
  
    --text: #242424;
    --inputBackground: #f0f0f0;
}

.regular-form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    width: 50%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}

.page-container {
    margin: 20px auto 0 auto;
    width: 90%;
    background-color: rgb(235, 240, 252);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.scroll-table {
    overflow-x: auto;
    max-width: 100%;
}

#navbarMenu{
    margin-right:1em;
}
.navbar-brand{
    margin-left:1em;
}
body {
    font-family: var(--nbcc-font);
    margin: 0;
    padding: 0;
    background-color: var(--nbcc-ocean-blue);
    color: var(--text);
}

input, select, button, textarea {
    background-color: var(--inputBackground);
    margin: 5px;
    border-radius: 5px;
}

button {
    background-color: var(--nbcc-urban-green);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: var(--nbcc-urban-greenDarkend);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

select {
    width: 90%;
    height: 22px;
}

.error {
    color: red;
}

table {
    border-collapse: collapse;
    width: 90%;
    background-color: #f2f2f2;
}

th{
    background-color: var(--nbcc-nav-item);
    color:white;
    padding:0.4em 0em 0.2em 0em;
    font-size: 1.15em;
}
table tr:nth-child(odd) td{
    background-color: white;
}
table tr:nth-child(even) td{
    background-color: #f8f8f8;
}

form input[type="date"] {
    width: 64%;
}
.Modalbutton{
    background-color: var(--nbcc-urban-green);
    color: white;
    border-radius: 5px;
    border-color:grey;
    cursor: pointer;
}
.Modalbutton:hover{
    background-color: var(--nbcc-urban-greenDarkend) !important;
    border-color:grey;
}
.Modalbutton:active{
    background-color: var(--nbcc-urban-greenDarkend) !important;
    border-color:grey;
}

.page-header-name {
    font-size: 40px;
    animation: slideUp 1s ease-in-out;
}

@keyframes slideUp {
    0% {
        transform: scale(0);
        opacity: 0;
    }
}