/* Define constants for NBCC styles*/
html{
    --nbcc-ocean-blue: #007599;
    --nbcc-ocean-blueDarkend: #015872;
    --nbcc-possi-blue: #a1d8e0;
    --nbcc-urban-green: #829600;
    --nbcc-urban-greenDarkend: #5f6d01;
    --nbcc-field-gold: #eaab00;
    --nbcc-field-goldDarkend: #aa7d00;
    --nbcc-nav: white;
    --nbcc-nav-item:#012a3b;
    --nbcc-background-nav-item: #005e99;
    --nbcc-font: 'Calibri', sans-serif;
  
    --text: #242424;
    --inputBackground: #f0f0f0;
}

.regular-form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    width: 50%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}
.selected{
    border-width:0.3em;
}
.page-container {
    margin: 20px auto 0 auto;
    width: 90%;
    background-color: rgb(235, 240, 252);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.scroll-table {
    overflow-x: auto;
    max-width: 100%;
}

#navbarMenu{
    margin-right:1em;
}
.navbar-brand{
    margin-left:1em;
}
body {
    font-family: var(--nbcc-font);
    margin: 0;
    padding: 0;
    background-color: var(--nbcc-ocean-blue);
    color: var(--text);
}

input, select, button, textarea {
    background-color: var(--inputBackground);
    margin: 5px;
    border-radius: 5px;
}

button {
    background-color: var(--nbcc-urban-green);
    border-color:grey;
    color: white;
    border-radius: 5px;
    border-style:outset;
    cursor: pointer;
}
button:hover{
    background-color: var(--nbcc-urban-greenDarkend);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border-style:inset;
}
.navbar-button:hover{
    border-style:none;
}
select {
    width: 90%;
    height: 22px;
}

.error {
    color: red;
}

table {
    border-collapse: collapse;
    width: 90%;
    background-color: #f2f2f2;
}

th{
    background-color: var(--nbcc-nav-item) !important;
    color:white !important;
    padding:0.4em 0em 0.2em 0em !important;
    font-size: 1.15em !important;
}
table tr:nth-child(odd) td{
    background-color: white;
}
table tr:nth-child(even) td{
    background-color: #f8f8f8;
}

form input[type="date"] {
    width: 64%;
}
label{
    font-size:1.1em;
}

.form-select {
    height: auto;
    width: 12em;
    padding: 4px;
    font-size: 16px;
}

/* ############# Modal Things ############### */
.ModalDropDownB button{
    background-color: var(--nbcc-ocean-blue) !important;
    border-color:grey !important;
    border-style: outset;
    border-width: 0.15em;
}
.ModalDropDownB button:hover, .ModalDropDownY button:active, .ModalDropDownY button:focus{
    background-color: var(--nbcc-ocean-blueDarkend) !important;
    border-color: grey!important;
    border-style: inset;
}

.ModalbuttonG{
    background-color: var(--nbcc-urban-green);
    color: white;
    border-radius: 5px;
    border-color:grey;
    border-style:outset;
    border-width: 0.15em;;
    cursor: pointer;
}
.ModalbuttonB{
    background-color: var(--nbcc-ocean-blue);
    color: white;
    border-radius: 5px;
    border-color:grey;
    border-style:outset;
    border-width: 0.15em;;
    cursor: pointer;
}
.ModalbuttonB:hover, .ModalbuttonB:active, .ModalbuttonB:focus{
    background-color: var(--nbcc-ocean-blueDarkend) !important;
    border-color:grey !important;
    border-style:inset;
}

.ModalbuttonG:hover, .ModalbuttonG:active, .ModalbuttonG:focus{
    background-color: var(--nbcc-urban-greenDarkend) !important;
    border-color:grey !important;
    border-style:inset;
}

.modal-content{
    border: #005e99 6px solid;
}
.InputBackroundColor{
    background-color: var(--inputBackground);
}
/* Animation for headers on page */
.page-header-name {
    font-size: 40px;
    animation: slideUp 1s ease-in-out;
}
.HideButtonCSS{
    background-color: inherit !important;
    border-color: inherit !important;
    border-style: none !important;
}
.HideButtonCSS::after{
    content: none;
}
.HideButtonCSS:hover, .HideButtonCSS:active, .HideButtonCSS:focus{
    background-color: inherit !important;
    border-color: inherit !important;
    border-style: none !important;
}
.SearchTypeButton:hover svg, .SearchTypeButton:active svg{
    width:35px;
    height: 35px;
}
@keyframes slideUp {
    0% {
        transform: scale(1.1);
        opacity: 0;
    }
}