.RegularButton{
    border-radius: 0.4em;
    margin-right: 1em;
}
.RegularButton a { 
    text-decoration: none;
    color:white; 
}
.Header{
    display:flex;
    justify-content: center;
}
.Buttons{
    display:flex;
    justify-content: center;
}
.DisplayText{
    display:flex;
    justify-content: center;
    padding-top: 2em;
    padding-bottom: 2em;
}
.VerifiedImage{
    height:20em;
}
.Modal div div[class="modal-content"]{
    background-color: grey;
}
.Modal div div[class="modal-content"] div[class="modal-body"] div[id="PrintImage"]{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:0.2em;
    background-color: gray;

}
.Modal div div[class="modal-content"] div[class="modal-body"] div[class="PrintOptionsSection"]{
    display:flex;
    align-items: center;
    margin-bottom: 0.5em;
    gap:0.5em;
}