.home-container {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  padding: 20px;
  min-height: 100vh;
}

.home-header {
  background-color: #0578c0; /* NBCC Blue */
  color: white;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.pictures-rounded {
    border-radius: 25px;
    height: 100px;
    width: 150px;
}

.home-logo {
  height: 100px;
  margin: 20px 0;
}

.home-description {
  font-size: 18px;
  color: #333;
  margin: 20px;
}

.button-with-image {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* grid buttons */
.button-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin-top: 20px;
    justify-items: center;
    width: 100%;
  }
  
  .home-button, .one, .two, .three, .four, .five {
    background-color: #005e99;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    width: 300px;
    transition: background-color 0.3s ease, transform 0.2s ease; /* some nice effects to add */
  }
  
  .home-button:hover, .one:hover, .two:hover, .three:hover, .four:hover, .five:hover {
    background-color: #004472;
    transform: scale(1.05);
  }

@media (max-width: 600px) {
  .home-header {
    font-size: 24px;
  }

  .home-button {
    font-size: 14px;
    padding: 8px 15px;
  }
}
