.RegularButton{
    border-radius: 0.4em;
    margin-right: 1em;
    background-color: #829600;
}
.RegularButton a { 
    text-decoration: none;
    background-color: #829600; 
    color:white; 
}
.Header{
    display:flex;
    justify-content: center;
}
.Buttons{
    display:flex;
    justify-content: center;
}
.DisplayText{
    display:flex;
    justify-content: center;
    padding-top: 2em;
    padding-bottom: 2em;
}
.VerifiedImage{
    height:20em;
}